<div>
<mat-card class="example-card">
  <mat-card-header class="header-bg">
    <mat-card-title class="white fsi">Leaflet GPS tracking</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="pa1">
      <mat-label>IMEI's</mat-label>
      <mat-select [formControl]="imeis" (selectionChange)="subscribeToTopic($event)">
        <mat-option *ngFor="let imei of imeiList" [value]="imei.value">{{imei.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{isConnected ? 'Web Socket Connected': 'Web Socket Not Connected'}}</span>
  </mat-card-content>
</mat-card>
<div id="map" class="map ma2"></div>
</div>
