.example-card {
  width: 100%;
}

.header-bg {
  background-color: cadetblue;
  justify-content: center;
  padding-top: 10px;
}

.white{
  color: white;
}

.fsi{
  font-style: italic;
}

.ma2{
  margin:20px;
}
.pa1{
  padding: 10px
}

.map{
  width: 100%;
  height: 400px;
}
